# {{ ansible_managed }}
ssl on;
ssl_certificate /etc/ssl/{{ le.user }}/letsencrypt/{{ ansible_date_time.year }}-{{ ansible_date_time.month }}/cert.pem;
ssl_certificate_key /etc/ssl/{{ le.user }}/letsencrypt/{{ ansible_date_time.year }}-{{ ansible_date_time.month }}/key.pem;
ssl_session_timeout 5m;
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_ciphers "AES128+EECDH:AES128+EDH";
ssl_prefer_server_ciphers on;
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam4096.pem;
ssl_ecdh_curve secp384r1;
add_header Strict-Transport-Security "max-age=63072000; includeSubDomains";
add_header X-Frame-Options SAMEORIGIN;
add_header X-Content-Type-Options nosniff;
add_header Public-Key-Pins 'pin-sha256="06uVduCFrRCU6bREnUOVa8Kunp52TUnP+V/YA+Q2yLY="; pin-sha256="EII8GlQkHH5JliRPNQOXOIVf8/kH5pcNNtzv3g6LZy0="; max-age=31536000; includeSubDomains';
